
*.pack
.idea/shelf/Uncommitted_changes_before_Update_at_7_19_2023_4_38_PM_\[Changes\]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_7_19_2023_4_38_PM_\[not_necassery\]/index.pack.old
.idea/shelf/Uncommitted_changes_before_Update_at_7_19_2023_4_38_PM_\[not_necassery\]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_7_19_2023_4_38_PM__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_7_19_2023_4_38_PM__not_necassery_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_7_19_2023_4_45_PM_\[Changes\]/shelved.patch
.idea/workspace.xml
