body {
    background-image: url('../images/Help-Me.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*button {*/
/*    width: 201px;*/
/*    height: 70px;*/
/*    background-color: #BA4B2F;*/
/*    margin: 574px 959px;*/
/*    font-size: 100%;*/
/*    border: none;*/
/*    color: white;*/
/*    border-radius: 8px;*/
/*}*/
